NEXT_PUBLIC_ENV="development"
# NEXT_PUBLIC_ENV="production"

NEXT_PUBLIC_APP_NAME="Farazy Eye Care"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="https://hospital-management-pearl-pi.vercel.app/api/v1"
# NEXT_PUBLIC_API_URL="https://api.chalkbio.com/api/v1"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51QTRb4RtHUQrGgvrt4MvOajB7losX7en6MaKFhYE2UmdQwwXzAfYIbnOJGynJrsEo8iKcZg6hy7939Q6RjRw8nfc0092MMD5ew